<h1>Leads</h1>

<div class="row">
	<div class="row" style="margin-bottom: 5px">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= link_to 'Add new lead', new_lead_path, :class => "btn btn-primary" %>
	    </div>
	</div>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
		<% @leads.each do |lead| %>
			<tr>
				<td>
					<%= lead.name %>
				</td>
				<td>
					<%= lead.last_name %>
				</td>
				<td>
					<%= lead.email %>
				</td>
				<td>
					<%= link_to 'Details', lead_path(lead), :class => "btn btn-default" %>
					<%= link_to 'Delete', lead_path(lead), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>