<% if @messages %>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Great!</strong> <%= @messages %>
	</div>
<% end %>

<h1>Lead <small><%= @lead.name %></small></h1>
<br />
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<p>
		<a class="btn btn-default" href="/leads/">Back to list</a>
		<a class="btn btn-primary" href="/leads/<%= @lead.id %>/edit">Edit</a>
	</p>
	<p>
		<% if current_user %>
			<% if @lead.salesforceid %>
				<a class="btn btn-default" href="/leads/<%= @lead.id %>/export">Update on SalesForce</a>
				<a class="btn btn-default" href="/leads/<%= @lead.id %>/export_destroy">Delete from SalesForce</a>
				<a class="btn btn-default" href="/leads/<%= @lead.id %>/import">Get updates from SalesForce</a>
			<% else %>
				<a class="btn btn-default" href="/leads/<%= @lead.id %>/export">Save to SalesForce</a>
			<% end %>
		<% else %>
			<%= link_to "Sign in with Salesforce to see more actions", "/auth/salesforce", id: "sign_in" %>
		<% end %>
	</p>
	<p>
		<strong>Name: </strong><%= @lead.name %>
	</p>
	<p>
		<strong>Last name: </strong><%= @lead.last_name %>
	</p>
	<p>
		<strong>Email: </strong><%= @lead.email %>
	</p>
	<p>
		<strong>Company: </strong><%= @lead.company %>
	</p>
	<p>
		<strong>Job title: </strong><%= @lead.job_title %>
	</p>
	<p>
		<strong>Phone: </strong><%= @lead.phone %>
	</p>
	<p>
		<strong>Website: </strong><%= @lead.website %>
	</p>
	<p>
		<strong>Is on SalesForce: </strong><% if @lead.salesforceid %>Yes<% else %>No<% end %>
	</p>
</div>