<h1>Lead <small><%= @lead.name %></small></h1>
<br />
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
	<p>
		<%= link_to 'Back to list', leads_path, :class => "btn btn-default" %>
		<%= link_to 'Edit', edit_lead_path(@lead), :class => "btn btn-primary" %>
	</p>
	<p>
		<strong>Name: </strong><%= @lead.name %>
	</p>
	<p>
		<strong>Last name: </strong><%= @lead.last_name %>
	</p>
	<p>
		<strong>Email: </strong><%= @lead.email %>
	</p>
	<p>
		<strong>Company: </strong><%= @lead.company %>
	</p>
	<p>
		<strong>Job title: </strong><%= @lead.job_title %>
	</p>
	<p>
		<strong>Phone: </strong><%= @lead.phone %>
	</p>
	<p>
		<strong>Website: </strong><%= @lead.website %>
	</p>
</div>